/*Index2.html*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
}
h1 {
    margin: 0;
}
img {
    width: 100%;
}
.contenedor-media {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-template-areas: 
    "titulo titulo titulo titulo"
    "imagen desc desc desc";

    grid-gap: 1rem;

    /*En este ejemplo es opcional porque el tamaño se adapto al contenido en si, pero si se quiere tener mayor control se puede definir tambien un template columns o row */
    grid-template-columns: 33.3% 66.6;
}


.titulo {
   grid-area: titulo;
}
.imagen {
    grid-area: imagen;
}
.descripcion {
    grid-area: desc;
}