
h2 {
    margin: 0;
}
.servicios {
    border: 3px solid black;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 200px;
}

.servicio {
    color: white;
    text-align: center;
}

.servicio-1 {
    background-color: darkviolet;
    grid-column: 1 / 2 ; /*es lo mismo que start y end pero abreviado*/
    grid-row: 1 / span 4; /*es lo mismo pero span indica cuantas lineas quiero que se expanda sin contar la primera*/
}

.servicio-2 {
    background-color: limegreen;
    grid-column-start: 2;
    grid-column-end: 4;
    
}
  
.servicio-3 {
    background-color: teal;
    grid-column-start: 2;
    grid-column-end: 4;
}